<header>
    <nav class="nav-one">
        <img src="assets/nig flag (1).jpg" alt="">
        <div class="place">You are in <b>Nigeria</b></div>
        <div class="stay">Stay on this site</div>
        <div class="or"> or</div>
        <div class="select">Select a different location</div>
    </nav>
</header>
<nav class="nav-two">
    <img src="assets/logo (2).jpg" alt="">
    <div class="selects">
    <select class="select-one">
        <option> Track</option>
    </select>
    <select class="select-two">
        <option>All product and solutions</option>
    </select>
    <select class="select-three">
        <option>Our divisions</option>
    </select>
    <select class="select-four">
        <option>industry Sectors</option>
    </select>
    <select class="select-five">
        <option>insight and innovations</option>
    </select>
    <select class="select-six">
        <option>Career</option>
    </select>
    <select class="select-seven">
        <option> Press</option>
    </select>
    <select class="select-eight">
        <option>About us</option>
    </select>
</div>
</nav>