<%- include('./partials/header.ejs') %>

<%- include('./partials/nav.ejs') %>

<div class="hero-section">
    <div class="section-one">
        <div class="side-one-wrapper">
        <div class="first">
    <div class="track">Track Your Shipment</div>
    <div class="inp"><input type="text" placeholder="Enter your tracking number(s)"> <button>Track</button></div>
    <div class="dhl">DHL Express Refrence Tracking 〉</div>
</div>

<div class="second">
    <div class="news-one">
        <img src="assets/news (1).jpg" alt="">
        <div class="ship-news">Ship News</div>
        <div class="find">Find the right Service</div>
    </div>

    <div class="news-two">
        <img src="assets/news (4).jpg" alt="">
        <div class="ship-news">Get a quote</div>
        <div class="find">Estimate cost to share and <br> compare</div>
    </div>

    <div class="news-three">
        <img src="assets/logo (3).jpg" alt="">
        <div class="ship-news">DHL for Business</div>
        <div class="find">Shipping regularly? request a<br>Business account and profit from <br>Exclusive Benefit</div>
    </div>

    <div class="news-four">
        <img src="assets/news (6).jpg" alt="">
        <div class="ship-news">Portal Login</div>
        <div class="find">Our division offer different<br>Online tools for your shipping and <br>logistic needs.</div>
    </div>
</div>
</div>
</div>
<div class="section-three">
    <div class="section-wrapper">
        <div class="line-text">
            <div class="line"></div>
            <div class="ukrain"> Ukriane Situation Update 〉</div>
        </div>

        <div class="line-text">
            <div class="line"></div>
            <div class="ukrain"> Covid 19 Update 〉</div>
        </div>
    </div>
</div>
</div> 






<div class="section-four">
    <div class="section-wrapper">
        <div class="up">Shipping Services</div>
        <div class="down">
            <div class="one">
                <div class="packages">Packages</div>
                <div class="pa">Pallets, Container, Cargo</div>
            </div>
            <div class="two">
                <div class="links-w">
                    <div class="ocean">
                        <div class="mess-icon">✉</div>
                    <div class="doc">Documents and Parcel</div>
                    <div class="dom">Domestics and <br>International</div>
                    </div>
                    <div class="ocean">
                        <div class="plane-icon">✈</div>
                        <div class="air">Air Freight</div>
                        <div class="inter">International 〉 <br> Same 〉</div>
                    </div>
                    <div class="ocean">
                        <div class="ship-icon">🛳️</div>
                        <div class="oc">Ocean Freight</div>
                        <div class="inter">International 〉 </div>
                    </div>
                    <div class="ocean">
                        <div class="car-icon">🚋</div>
                        <div class="ro">Road Freight</div>
                        <div class="inter">International 〉</div>
                    </div>
                    <div class="ocean">
                        <div class="rail-icon">🚉</div>
                        <div class="ra">Rail Frieght</div>
                        <div class="inter">Between Europe and <br> Asia 〉</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-two">
    <div class="section-wrapper">
        <div class="solution">Logistic Solution</div>
        <div class="pics">
        <div class="pics-text-one all" >
            <img src="assets/post (10).jpg" alt="">
           <div class="text">
            <div class="wel">Warevhouse Solution</div>
            <div class="write">Warehousing For Small and medium business 〉<br> Warehousing for enterprise 〉 </div>
           </div>
        </div>

        <div class="pics-text-two all">
            <img src="assets/post (3).jpg" alt="">
            <div class="text">
                <div class="wel">Transport and Distribution</div>
            <div class="write">Transportation management for Business 〉<br> Transportation Management for Enterprise 〉 </div>
            </div>
        </div>

        <div class="pics-text-three all">
            <img src="assets/post (6).jpg" alt="">
           <div class="text">
            <div class="wel">Contract Logistics</div>
            <div class="write">Find our more about contract logistics 〉</div>
           </div>
        </div>

        </div>
    </div>
</div>



<div class="section-five">
<div class="section-wrapper">
    <div class="impo">IMPORTANT INFORMATION</div>
    <div class="service">Service bulletings keeps you up to date with event that might affect our high service standards <br><b>SMS-Scam " Download Our Application to Track Your Parcer" 〉</b></di>
</div>
</div>
</div>

<div class="section-six">
    <div class="section-wrapper">
        <div class="texts">
            <div class="green">Green Logistics</div>
            <div class="note">
                Sustainable business begings with substainable supply <br>
                Chain. As the pioneer of green Logistics we have an <br>
                unmatched portfolio of green logistics solution, <br>
                Together with Our customers WORLDWIDE we are <br>
                Minimizing emmissions without compromising <br>
                operators. find out what we have to offer, why are we <br>
                committed to substainability, and how our industry is <br>
                helping deliver a sunstainable future.
            </div>

            <div class="learn">Learn More</div>
        </div>
    </div>
    </div>


<div class="section-seven">
    <div class="section-wrapper">
        <div class="texts">
            <div class="green">Our Divisions</div>
            <div class="note">
                Sustainable business begings with substainable supply <br>
                Chain. As the pioneer of green Logistics we have an <br>
                unmatched portfolio of green logistics solution, <br>
                Together with Our customers WORLDWIDE we are <br>
                Minimizing emmissions without compromising <br>
                operators. find out what we have to offer, why are we <br>
                committed to substainability, and how our industry is <br>
                helping deliver a sunstainable future.
            </div>

            <div class="learn">Learn More</div>
        </div>
    </div>
    </div>

<div class="section-eight">
    <div class="section-wrapper">
        <div class="texts">
            <div class="green">Insight and Innovation</div>
            <div class="note">
                Sustainable business begings with substainable supply <br>
                Chain. As the pioneer of green Logistics we have an <br>
                unmatched portfolio of green logistics solution, <br>
                Together with Our customers WORLDWIDE we are <br>
                Minimizing emmissions without compromising <br>
                operators. find out what we have to offer, why are we <br>
                committed to substainability, and how our industry is <br>
                helping deliver a sunstainable future.
            </div>

            <div class="learn">Learn More</div>
        </div>
    </div>
    </div>



    <div class="last-section">
        <div class="section-wrapper">
            <div class="side-one">
             <div class="help">Help Center</div>
             <a href="#">Contact Us</a>
             <a href="#">Customer Portal Login</a>
             <a href="#">Digital partners and intergrations</a>
             <a href="#">Developer Portal</a>
            </div>

            <div class="side-one">
                <div class="our">Our Divisions</div> 
                <a href="#">Post and Parket Dueuchtland</a> 
                <a href="#">DHL Express</a> 
                <a href="#">DHL Global Forwarding</a> 
                <a href="#">DHL Frieght</a> 
                <a href="#">DHL Supply Chain</a> 
                <a href="#">DHL eCommerce Solution</a> 
            </div>


            <div class="side-one">
                <div class="ind">Industry Sectors</div>
                <a href="#">Auto-Mobile</a>
                <a href="#">Chemical</a>
                <a href="#">Custome</a>
                <a href="#">Energy</a>
                <a href="#">Engineering and Manufacturing</a>
                <a href="#">Life Science and Healthcare</a>
                <a href="#">Public Sectors</a>
                <a href="#">Retail</a>
                <a href="#">Technology</a>
            </div>


            <div class="side-one">
                <div class="com">Company Information</div>
                <a href="#">About DHL</a>
                <a href="#">Deliverd</a>
                <a href="#">Careers</a>
                <a href="#">Press Center</a>
                <a href="#">Sustainability</a>
                <a href="#">Insight and Innovation</a>
                <a href="#">Officials Logistics Partners</a>
            </div>

        </div>
    </div>


    <div class="footer">
        <div class="footer-wrapper">
            <div class="top">
            <div class="Dh">Duethche Post DHL Group</div>
            <div class="a"> 
                <a href="">Fraud Awareness</a> 
                <a href="">Legal Notice</a> 
                <a href="">Terms of use</a> 
                <a href="">Privacy Notice</a> 
                <a href="">Despute Resolution</a> 
                <a href="">Additional Information</a> 
            </div>
        </div>
        <div class="down">
            <div class="f">Follow Us</div>
            <div class="img">
            <img src="assets/youtube.jpg" alt="">
            <img src="assets/facebook-logo.png" alt="">
            <img src="assets/twitter-logo.png" alt="">
            <img src="assets/whatsapp.png" alt="">
        </div>
        </div>
        </div>
    </div>-
    <div class="end">2023-@Mega.com-all right reserved</div>









<%- include('./partials/footer.ejs') %>